
body { 
	margin: 0; 
	padding: 0; 
	font-family: sans-serif;
}

#map { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
}

.timecontrols{
	position: absolute; 
	background: rgba(255,255,255,0.8);
	top: 8px; 
	right: 8px;
	padding: 8px;
	border-radius: 2px;
	box-shadow: 1px 3px 3px -2px rgba(0,0,0,0.5);
}




/* --------- SVG Interface for jumping to times ------------ */

#clockJump{
	position: absolute;
}

#liveHours path{
    fill: #3B0023;
    transition: fill .8s;
}

#liveHours path:hover{
    fill: #7f004a;
    cursor: pointer;
}

#liveHours path.current{
	fill: #7f004a;
}
        
#deadHours path{
	fill: #e7e3ed;
}




/* -------- Clock face ---------- */

.clockface{
	padding-left: 60px;
	width: 60px;
	padding-top: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
}

#numerictime{
	display: block;
	position: absolute;
	font-family: monospace;
	width: 100px;
    margin: -34px 0 0 -50px;
    font-size: 26px;
    text-align: center;
    text-shadow: 0  1px 0 white, 
    			 0 -1px 0 white;
    opacity: 0.5;
}

#numerictime > *{
	display: block;
	float: left;
}

#numerictime small{
	font-size: 16px;
	line-height: 34px;
}

#minuteHand,
#hourHand{
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	
}

.centredisc{
	position: absolute;
	display: block;
    width: 8px;
    height: 8px;
	background: #666;
	border-radius: 50%;
	margin: -4px 0 0 -4px;
}

#minuteHand:after{
	position: absolute;
	display: block;
	content: ' ';
	background: #666;
	height: 60px;
	margin-top: -60px;
	width: 4px;
	margin-left: -2px;
}

#hourHand:after{
	position: absolute;
	display: block;
	content: ' ';
	background: #9A7B95;
	height: 50px;
	margin-top: -50px;
	width: 8px;
	margin-left: -4px;
	border-radius: 4px;
}

/* This animation is a temporary bit of CSS for deving */
@-webkit-keyframes  spin{
	from {
		transform: rotate( 0deg );
	}
	to {
		transform: rotate( 360deg );
	}
		
}

.timecontrols input[type=range]{
	width: 160px;
	margin: 0 0 10px 0;
	float: left;
}

.timecontrols .timescale{
	width: 120px;	
	margin: 0 0 10px;
	clear: left;
	float: left;
}

.timecontrols .timescale > *{
	display: block;
	float: left;
	font-size: inherit;
	padding: 2px;
}

.timecontrols .timescale label{

}

.timecontrols .timescale input[type=tel]{
	width: 40px;
	text-align: right;
	border: 1px solid white;
	background: transparent;
}

.timecontrols .timescale input[type=tel]:hover,
.timecontrols .timescale input[type=tel]:focus{
	border: 1px solid #888;
	cursor: pointer;
	background: white;
}

.timecontrols .timescale input[type=tel]:focus:invalid{
	background-color: pink;
	color: #400;
}

